<a href="https://colab.research.google.com/github/SofiaShvedova/Programming-for-analysts/blob/main/%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D0%B0_%D0%BD%D0%B0_%D0%B7%D0%B0%D0%BD%D1%8F%D1%82%D0%B8%D0%B8_11_03_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np

In [3]:
import pandas as pd
df = pd.DataFrame({
    "Страна":["США", "Китай", "Россия", "Турция", "ЮАР"],
    "2018 год": [20612, 13842, 1665, 780, 368],
    "2019 год": [21433, 14402, 1702, 761, 351],
})

df

   Страна  2018 год  2019 год
0     США     20612     21433
1   Китай     13842     14402
2  Россия      1665      1702
3  Турция       780       761
4     ЮАР       368       351

In [4]:
import pandas as pd
df = pd.DataFrame({
    "Страна":["США", "Китай", "Россия", "Турция", "ЮАР"],
    "2018 год": [20612, 13842, 1665, 780, 368],
    "2019 год": [21433, 14402, 1702, 761, 351],
}, index = ["US", "CN", "RU","TR","ZA"]
)

df

    Страна  2018 год  2019 год
US     США     20612     21433
CN   Китай     13842     14402
RU  Россия      1665      1702
TR  Турция       780       761
ZA     ЮАР       368       351

In [5]:
df["Страна"]

US       США
CN     Китай
RU    Россия
TR    Турция
ZA       ЮАР
Name: Страна, dtype: object

In [6]:
df.loc['RU']

Страна      Россия
2018 год      1665
2019 год      1702
Name: RU, dtype: object

In [7]:
df.iloc[0]

Страна        США
2018 год    20612
2019 год    21433
Name: US, dtype: object

In [8]:
df[2:]

    Страна  2018 год  2019 год
RU  Россия      1665      1702
TR  Турция       780       761
ZA     ЮАР       368       351

In [9]:
df[df["2019 год"] > 761]["Страна"]

US       США
CN     Китай
RU    Россия
Name: Страна, dtype: object

In [13]:
df.rename(columns={"2018 год": "2018", "2019 год": "2019"})

    Страна   2018   2019
US     США  20612  21433
CN   Китай  13842  14402
RU  Россия   1665   1702
TR  Турция    780    761
ZA     ЮАР    368    351

In [14]:
dfr = df.rename(columns={"2018 год": "2018", "2019 год": "2019"})

In [15]:
dfr["Рост"] = dfr["2019"] - dfr["2018"]
dfr

    Страна   2018   2019  Рост
US     США  20612  21433   821
CN   Китай  13842  14402   560
RU  Россия   1665   1702    37
TR  Турция    780    761   -19
ZA     ЮАР    368    351   -17

In [16]:
dfr.drop(["Рост"], axis = "columns")

    Страна   2018   2019
US     США  20612  21433
CN   Китай  13842  14402
RU  Россия   1665   1702
TR  Турция    780    761
ZA     ЮАР    368    351

In [19]:
import pandas as pd
df = pd.DataFrame({
    "Страна":["США", "Китай", "Россия", "Турция", "ЮАР"],
    "2018 год": [20612, 13842, 1665, 780, 368],
    "2019 год": [21433, 14402, 1702, 761, 351],
}, index = ["US", "CN", "RU","TR","ZA"]
)

df.to_csv("country.csv", encoding="cp1251")

In [20]:
! ls

country.csv  sample_data

In [21]:
from google.colab import files
files.download("country.csv")

In [27]:
from google.colab import files
uploaded = files.upload()

Saving data-6322-2021-12-27.xlsx to data-6322-2021-12-27.xlsx